##############################################################################
#
# LD65 LINKER CONFIGURATION FOR XMICRO-6502 ROM IMAGES
#
##############################################################################

MEMORY {
	ZP:	START = $0001,	SIZE = $00FF,	TYPE = RW,	DEFINE = YES;
	STACK:	START = $0100,	SIZE = $0100,	TYPE = RO;
	VT:	START = $0200,	SIZE = $0200,	TYPE = RW	DEFINE = YES;
	RAM:	START = $0400,	SIZE = $BC00,	TYPE = RW;
	HIRAM:	START = $D800,	SIZE = $0800,	TYPE = RW;
	IO:	START = $D000,	SIZE = $0800,	TYPE = RW	DEFINE = YES;
	ROM:	START = $E000,	SIZE = $2000,	TYPE = RO	FILE = %O;
}

SEGMENTS {
	STARTUP:	LOAD = ROM,	TYPE = RO;
	ONCE:		LOAD = ROM,	TYPE = RO,	OPTIONAL = YES;
	CODE:		LOAD = ROM,	TYPE = RO;
	DATA:		LOAD = ROM,	TYPE = RW,	DEFINE = YES	RUN = HIRAM;
	RODATA:		LOAD = ROM,	TYPE = RO;
	BSS:		LOAD = HIRAM,	TYPE = BSS,	DEFINE = YES;
	HEAP:		LOAD = HIRAM,	TYPE = BSS,	OPTIONAL = YES;
	VECTORTABLE:	LOAD = ROM,	TYPE = RW,	OPTIONAL = YES,	DEFINE = YES,	RUN = VT;
	INFO:		LOAD = ROM,	TYPE = RO,	OPTIONAL = YES;
	CPUVECTORS:	LOAD = ROM,	TYPE = RO,	START = $FFFA;

    	ZEROPAGE:	LOAD = ZP,	TYPE = ZP,	OPTIONAL = YES,	DEFINE = YES;
}

FEATURES {
	CONDES:	SEGMENT = STARTUP,
		TYPE    = CONSTRUCTOR,
		LABEL   = __CONSTRUCTOR_TABLE__,
		COUNT   = __CONSTRUCTOR_COUNT__;
	CONDES:	SEGMENT = STARTUP,
		TYPE    = DESTRUCTOR,
		LABEL   = __DESTRUCTOR_TABLE__,
		COUNT   = __DESTRUCTOR_COUNT__;

	STARTADDRESS:	DEFAULT = $E000;
}

SYMBOLS {
	# DEFINE THE STACK SIZE FOR THE APPLICATION
	__STACKSIZE__:  TYPE = WEAK, VALUE = $0200;
}

	#XMICRO SYSTEM CONFIGURATION
SYMBOLS {
	__XMICRO_VDP_SLOT__:		TYPE = WEAK,	VALUE = 0;
	__XMICRO_VDP_ID__:		TYPE = WEAK,	VALUE = $05;
	__XMICRO_VDP_START__:		TYPE = WEAK,	VALUE = __IO_START__+(__XMICRO_VDP_SLOT__*$100);
	__XMICRO_VDP_VECTOR__:		TYPE = WEAK,	VALUE = __VT_START__+(__XMICRO_VDP_SLOT__*$4)+1;	#IRQX
#	__XMICRO_VDP_VECTOR__:		TYPE = WEAK,	VALUE = __VT_START__+($8*$4)+1;				#NMI

	__XMICRO_CF_SLOT__:		TYPE = WEAK,	VALUE = 1;
	__XMICRO_CF_ID__:		TYPE = WEAK,	VALUE = $03;
	__XMICRO_CF_START__:		TYPE = WEAK,	VALUE = __IO_START__+(__XMICRO_CF_SLOT__*$100);
	__XMICRO_CF_VECTOR__:		TYPE = WEAK,	VALUE = __VT_START__+(__XMICRO_CF_SLOT__*$4)+1;

	__XMICRO_SERIAL_SLOT__:		TYPE = WEAK,	VALUE = 2;
	__XMICRO_SERIAL_ID__:		TYPE = WEAK,	VALUE = $04;
	__XMICRO_SERIAL_START__:	TYPE = WEAK,	VALUE = __IO_START__+(__XMICRO_SERIAL_SLOT__*$100);
	__XMICRO_SERIAL_VECTOR__:	TYPE = WEAK,	VALUE = __VT_START__+(__XMICRO_SERIAL_SLOT__*$4)+1;

	__XMICRO_6502_SLOT__:		TYPE = WEAK,	VALUE = 0;
	__XMICRO_6502_ID__:		TYPE = WEAK,	VALUE = $01;
	__XMICRO_6502_START__:		TYPE = WEAK,	VALUE = __IO_START__+(__XMICRO_6502_SLOT__*$100);
	__XMICRO_6502_VECTOR__:		TYPE = WEAK,	VALUE = __VT_START__+(__XMICRO_6502_SLOT__*$4)+1;

	__XMICRO_7SEG_SLOT__:		TYPE = WEAK,	VALUE = 0;
	__XMICRO_7SEG_ID__:		TYPE = WEAK,	VALUE = $06;
	__XMICRO_7SEG_START__:		TYPE = WEAK,	VALUE = __IO_START__+(__XMICRO_7SEG_SLOT__*$100);

}
